body {
  margin-left: 5%;
  margin-top: 5%;
  color: #000;
  background-color: #ffffff;
  width: 85%;
}

a:link {color: #000; text-decoration: none; font-weight: 800;}
a:active {text-decoration: none;}
a:hover {color: #000; text-decoration: underline;}
a:visited {color: #000; text-decoration: none;}

p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 60px;
  font-weight: 800;
  color: #000;
  line-height: 60px;
  text-transform: uppercase;
}

#prompt, #msg, #rec, #no, #retry{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 60px;
  font-weight: 800;
  color: #000;	
  line-height: 60px;
  text-transform: uppercase;
  padding-right: 2em;
}

#prompt {
  width: 60%;
}

#no {
  padding-top: 2em;
  font-size: 20px;
}

#noBtn {
  cursor: pointer;
}

#retry {
  padding-top: 0.5em;
  font-size:20px;
}

#result, #options {
  display: none;
}

#msg {
  font-size: 55px;
}

#rec {
  padding: 0.35em;
  margin-top: 0.55em;
  border: 3px solid black;
  width: 85%;
}

#input {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 60px;
  font-weight: 800;
  margin-top: 0.75em;
  color: #000;	
  line-height: 60px;
  text-transform: uppercase;
}

#animeBox{
  width: 80%;
  border: 3px solid black;
  padding: 0.1em;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 60px;
  font-weight: 800;
  color: #000;	
  line-height: 60px;
  text-transform: uppercase;
  float: left;
}

#arrow{
  float: left;
  vertical-align: middle;
  height: 60px;
  border: 0px;
}

#info {
  position: absolute;
  bottom: 5px;
  right: 8px;
  color: #777777;
  font-size: 70%;
  text-align: right;
}

#author {
  padding-bottom: 5px;
}
